@charset "utf-8";
/* 서브 페이지용 css - sub.css */

/* 공통외부 css 합치기 */
@import url(./common.css);

h2.stit {
    color: rgb(106, 204, 14);
    font-size: 24px;
    font-family: "Bagel Fat One", cursive;
    font-weight: normal;
    text-align: center;
    text-shadow: 2px 2px 2px #0000008c;
    outline: 1px solid yellowgreen;

    padding: 40px;
    /* 배경넣기 : 한번에 쓰기*/
    /* background: url(../images/prlogo.jpg) no-repeat center/cover; */
    /* background: 색이반고윙/크; 
        배경색 이미지 반복 고정 위치/크기
    */

    /* 배경넣기 : 속성별 쓰기 */
    background-image: url(../images/prlogo.jpg);
    /* 배경이미지 */
    background-repeat: no-repeat;
    /* 반복여부 */
    background-position: center;
    /* 가로 세로 */
    background-size: cover;
    /* 배경크기 */

    margin-bottom: 30px;

    /* 박스그림자 */
    box-shadow: inset 0px 0px 6px 0px #000;
    /* 
    [box-shadow 속성]
     - 박스 외부/내부 그림자 설정속성
     - 값 : x축 y축 blur spread 색
    text-shadow와 달리 spread 속성이 있음
    이것은 그림자를 커지게 함
     - 내부 그림자 옵션 : inset
     - 그림자 다중설정 : 콤마로 연속사용가능    
    */
    margin-bottom: 40px;
}
#cont .st1 {
    /* 배경이미지 */
    background-image: url(../images/a1.jpg);
    color: black;
}
#cont .st2 {
    /* 배경이미지 */
    background-image: url(../images/b1.jpeg);
    color: aqua;
}

/* IT/과학 배경이미지 */
#cont .st3 {
    /* 배경이미지 */
    background-image: url(../images/c1.jpg);
    color: white;
}
/* TV/연예 배경이미지
우선 순위를 높이기 위해 부모요소를 써줌! */
#cont .st5 {
    /* 배경이미지 */
    background-image: url(../images/e1.jpg);
    background-position-y: -40px;
    color: pink;
}
