@charset "utf-8";
/* 서브 페이지용 css - sub.css */

/* 공통외부 css 합치기 */
@import url(./common.css);

h2.stit {
    color: rgb(106, 204, 14);
    font-size: 24px;
    font-family: "Bagel Fat One", cursive;
    font-weight: normal;
    text-align: center;
    text-shadow: 2px 2px 2px #0000008c;
}

h3.atit{
    font-size: 30px;
}
