/* styles.css */
body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.content-wrapper {
    display: flex;
    width: 100%;
    height: 100vh; /* 전체 높이 사용 */
}

.left-content {
    width: 65%;
    border-right: 1px solid #ddd; /* 구분을 위해 경계선 추가 */
    padding: 20px;
    box-sizing: border-box; /* padding을 포함한 박스 사이징 */
}

.right-content {
    width: 35%;
    padding: 20px;
    box-sizing: border-box; /* padding을 포함한 박스 사이징 */
}

.banner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.banner-item {
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.banner-item img {
    width: 100%;
    height: auto;
}

.banner-item .name {
    padding: 10px;
    background-color: #f8f8f8;
}

.image-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
    box-sizing: border-box; /* padding을 포함한 박스 사이징 */
}

.image-item {
    min-width: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.image-item img {
    width: 100%;
    height: auto;
}

.image-item .distance {
    padding: 10px;
    background-color: #f8f8f8;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
