@charset "utf-8";
/* 도깨비 PJ : 메인페이지 CSS - main.css */

/* 리셋, 공통 외부 CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);

/* 공사중 표시 */
body * {
    outline: 2px dashed #ccc;
}
body > div > * {
    outline-color: red;
}
/* 1. 좌측 베너 */
.leftBanner{
    position: fixed;
    left: 0%;
    top: 107px;
    text-align: center;
    z-index: 2;
    background-color: #fff;
}
/************ 4. 메인영역: .group-part ************/
#main {
    background-color: lightyellow;
}
/* 반송편성소개파트 */
.main .group-part-01 .partbox {
    height: 330px;
}
/* 미리보기파트 */
.main .group-part-02 .partbox {
    height: 330px;
}
